/* Main first .css code */

.main-1{
    margin-top: 60px;
}

.hero-frame{
    width: 100%;
    height: 43.95vw;
    display: flex;
    position: relative;
    z-index: -1;
}

.banner-dilse,.SMAP-2,.jalwa,.hemplab{
    width: 100%;
    height: 100%;
    /* display: none; */
}

.banner-dilse{
    animation: banner-dilse 40s steps(1) 0s infinite normal;
}

.SMAP-2{
    animation: SMAP-2 40s steps(1) 0s infinite normal;
}

.jalwa{
    animation: jalwa 40s steps(1) 0s infinite normal;
}

.hemplab{
    animation: hemplab 40s steps(1) 0s infinite normal;
}

/* dots */

.circles{
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    box-shadow: 4px 2px 11px #5a5a5a, 1px 2px 3px #fff;
}

.dot{
    background-color: orange;
    border-radius: 50%;
}

.dot-1{
    animation: dot-1 40s steps(1) 0s infinite normal;
}
.dot-2{
    animation: dot-2 40s steps(1) 0s infinite normal;
}
.dot-3{
    animation: dot-3 40s steps(1) 0s infinite normal;
}
.dot-4{
    animation: dot-4 40s steps(1) 0s infinite normal;
}

/* The End of hero_frame.css file */